@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
:root {
  --cor-rosa-claro: #ffc0cb;
  --cor-rosa-escuro: #ee318b;
  --cor-rosa-superescuro: #a03e93;
  --cor-roxo-claro: #bf86ff;
  --cor-roxo-escuro: #500091;
  --cor-preto: #000;
  --cor-branco: #fff;
  --font-normal: "Rubik", sans-serif;
  --font-destaque: "Poetsen One", sans-serif;
}

body {
  margin: 0;
  background-color: var(--cor-rosa-claro);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--cor-roxo-claro);
}

::-webkit-scrollbar-thumb {
  background: var(--cor-roxo-escuro);
  border-radius: 6px;
}

a {
  text-decoration: none;
  font-family: var(--font-normal);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 3px;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

nav {
  background-color: var(--cor-roxo-claro);
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
}

h1,
p {
  color: var(--cor-branco);
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 10px;
  font-family: var(--font-destaque);
  transition: all 0.3s ease;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: var(--cor-branco);
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  transition: all 0.3s ease;
}

a:hover,
h1:hover,
.menu-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  color: var(--cor-roxo-escuro);
}

a:hover {
  background-color: var(--cor-rosa-claro);
}

.content {
  width: 100%;
}

@media (max-width: 700px) {
  nav,
  ul {
    flex-direction: column;
  }

  ul {
    text-align: center;
    margin: 0;
    height: 0;
  }

  nav {
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }

  h1 {
    margin: 10px;
  }

  .menu-btn {
    display: flex;
  }

  li,
  ul {
    width: 100%;
  }

  ul.responsivo {
    height: 300px;
  }
}

.box1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1 img {
  max-width: 600px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .box1 img {
    max-width: 300px;
  }
}

.box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.line1-box {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.l1 {
  width: 350px;
  height: 3px;
  background-color: var(--cor-rosa-escuro);
  border-radius: 5px;
}

h3 {
  font-size: 4vh;
  font-family: var(--font-destaque);
  color: var(--cor-roxo-escuro);
}

.buy {
  max-width: 300px;
  min-width: 250px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor-roxo-claro);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.buy:hover {
  box-shadow: rgba(137, 46, 240, 0.4) -5px 5px,
    rgba(137, 46, 170, 0.3) -10px 10px, rgba(137, 46, 240, 0.2) -15px 15px,
    rgba(137, 46, 170, 0.1) -20px 20px, rgba(137, 46, 170, 0.05) -25px 25px;
}

.buy img {
  max-width: 200px;
  border-radius: 10px;
  margin: 5px;
}

.buy h2 {
  font-family: var(--font-destaque);
  font-size: 3vh;
  color: var(--cor-roxo-escuro);
}

.descr {
  display: flex;
  text-align: start;
  margin: 5px;
}

.descr p {
  font-family: var(--font-normal);
  font-size: 2.4vh;
  color: var(--cor-branco);
}

.line {
  background-color: #500091;
  height: 3px;
  width: 100px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.buy:hover .line {
  width: 150px;
}

.bd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 5px;
}

.bd p {
  color: var(--cor-roxo-escuro);
  font-size: 3vh;
  font-family: var(--font-destaque);
  margin: 5px;
}

.btn {
  width: 100px;
  border: none;
  background-color: var(--cor-rosa-escuro);
  color: var(--cor-roxo-escuro);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: var(--font-destaque);
}

.btn::after {
  content: url(src/carrinho-de-compras.png);
  max-width: 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--cor-rosa-claro);
}

.btn:active {
  color: #00000000;
  font-size: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box3-img {
  max-width: 400px;
}

.livro {
  max-width: 550px;
}

.livro h4 {
  font-size: 5vh;
  font-family: var(--font-destaque);
  color: var(--cor-rosa-escuro);
}
.livro p {
  font-size: 2.50vh;
  font-family: var(--font-normal);
  color: var(--cor-preto);
  margin: 5px;
}

.btn-ebooks {
  margin: 10px;
  background-color: #00000000;
  width: 100px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  color: var(--cor-rosa-escuro);
  font-family: var(--font-destaque);
  font-size: 3vh;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: center;
}

.btn-ebooks a {
  text-decoration: none;
}

.btn-img {
  max-width: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-ebooks:hover {
  font-size: 0vh;
}

.btn-ebooks:hover .btn-img {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--cor-roxo-claro);
  border-radius: 0.5em;
}

header > h1 {
  margin-top: 0;
  font-family: var(--font-destaque);
  font-size: 2.5rem;
  border-bottom: 3px solid var(--cor-rosa-escuro);
}

.gallery {
  display: grid;
  margin: 3em 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

figure {
  display: flex;
  margin: 0;
}

img {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box4 h4 {
  color: var(--cor-roxo-escuro);
  font-family: var(--font-destaque);
  font-size: 3vh;
}

.box4 p {
  color: var(--cor-preto);
  font-family: var(--font-normal);
  font-size: 1rem;
}

.box4 img {
  max-width: 300px;
}

.btn-box4 {
  width: 150px;
  border-radius: 20px;
  background-color: var(--cor-rosa-escuro);
  border: none;
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 0vh;
  font-family: var(--font-destaque);
  transition: all 0.3s;
  cursor: pointer;
}

.btn-box4 img {
  max-width: 20px;
  margin: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-box4:hover {
  background-color: #a03e93;
  font-size: 2vh;
}

.btn-box4:hover .img-box4 {
  margin-left: 35px;
}

.redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
